ion-title{
    color: darkcyan;
    background-color: lightgrey;
    position: absolute;
}


.cards-bg{
   

    ion-card{
        background-color: lightgrey;
    }    
    button{
        background-color: lightgrey;
        color: darkcyan;
    }

    ion-card-title{
        color: darkcyan;
    }
}