ion-toolbar{
    color: darkcyan;
    background-color: lightgrey;
    text-align: center;
}


.cards-bg{
   

    ion-card{
        background-color: lightgrey;
    }    
    button{
        background-color: lightgrey;
        color: darkcyan;
    }

    ion-card-title{
        color: darkcyan;
    }
    h1{
        text-align: center;
    }
}

